<template>
  <section class="faq">
   <div class="card mailbox">
     Письма бывают разные - любовные, дружеские, ненависти и официальные.<br/>
     Сегодня ты получил особенное письмо. Пишет тебе feather-corp сообщество.<br/>
     Мы давно наблюдаем за тобой и хотим проверить, достоин ли ты присоединиться к нам.<br/>
     Посмотрим, правильно ли ты истолкуешь наше послание:<br/>https://username.github.io<br/>
     <span>Feather-corp</span>
   </div>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

  .mailbox {
    font-family: 'Pangolin', cursive;
    font-size: 34px;
    font-weight: normal;

    * {
      font-family: 'Pangolin', cursive;
    }

    span {
      display: block;
      font-size: 18px;
      text-align: right;
    }
  }
</style>
