<template>
  <ul class="client-sidebar">
    <li><n-link to="/profile">Основное</n-link></li>
    <li><n-link to="/play">Квесты</n-link></li>
    <li><n-link to="/subscribe">Подписка</n-link></li>
    <li><n-link to="/login" @click.native="logout">Выйти</n-link></li>
  </ul>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'ClientSidebar',
  methods: {
    ...mapActions({logout: 'auth/logout'})
  },
}
</script>

<style>

</style>
