<template>
  <footer class="footer">
    <span>webquest.club © 2020</span>
  </footer>
</template>

<script>
export default {
  name: 'QuestFooter'
}
</script>

<style>
  .footer {
    background: #000;
    padding: 20px;
    text-align: center;
  }
</style>
