<template>
  <headroom>
    <header class="header">
      <nuxt-link to="/" class="logo">WebQuest</nuxt-link>
      <client-only>
        <nav>
          <nuxt-link v-if="!isAuth" to="/login">Войти</nuxt-link>
          <nuxt-link v-if="!isAuth" to="/registration">Создать аккаунт</nuxt-link>
          <nuxt-link v-if="isAdmin" to="/dashboard">Клиенты</nuxt-link>
          <nuxt-link v-if="isAuth" to="/profile">Мой аккаунт</nuxt-link>
        </nav>
      </client-only>
    </header>
  </headroom>
</template>

<script>
import {mapGetters} from 'vuex'
import { headroom } from 'vue-headroom'

export default {
  name: 'QuestHeader',
  computed: {
    ...mapGetters({isAuth: 'auth/isAuth', isAdmin: 'admin/isAdmin'})
  },
  components: {
    headroom
  }
}
</script>
