<template>
  <div class="loader">
    <div class="text">Загрузка...</div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 9999;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      font-size: 24px;
      color: rgb(104, 104, 104);
      letter-spacing: 2px;
      margin-top: -100px;
    }
  }
</style>
