<template>
  <section class="about">
    <h3>Если мы еще не знакомы...</h3>
    <div class="container">
      <p>Привет! Впервый раз здесь?</p>
      <p>Тогда слушай..</p>
      <p>Мы запустили крутой проект, аналога которому не существует!
      <p>Это что-то вроже квеста и детектива одновременно.</p>
      <p>Но это не жанр, не игра, не вид чего-то. Это что-то особенное.</p>
      <p>Это способ мышления...</p>
      <p>Когда интересен процесс.</p>
      <p>Расследования, сбор и анализ информации, решение сложных задач и головоломок, поиск истины...</p>
      <p>Этим вдохновляются авторы проекта.</p>
      <p>Каждая история по-своему уникальна и не связана с предыдущей.</p>
      <p>На решение у тебя неограниченное количество времени.</p>
      <p>Но главное не это...</p>
      <p>Главное - свобода действий</p>
      <p>Для решения задач и поиска ответов ты можешь задействовать все ресурсы.</p>
      <p>Почувствовал атмосферу? А теперь попробуй первый бесплатный сюжет <a href="#" class="link">"Закрытое общество"</a> .</p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ScreenAbout'
}
</script>
