<template>
  <section class="faq">
    <h3>Вопросы и ответы</h3>
    <div class="card">
      <ul class="accordeon">
        <li class="question">Для кого этот проект? Подходит ли он мне?</li>
        <li class="answer">Ответ прост - если вам интересно попробуйте, это же бесплатно. Но будьте готовы к тому, что квесты высокого уровня сложности, нужно иметь желание и интерес чтобы пройти их. Кроме того, мы делаем акцент на технические знания. У IT-специалистов в этом плане бонус =)</li>
      </ul>
      <ul class="accordeon">
        <li class="question">Квесты сложные, как получить подсказку?</li>
        <li class="answer">Мы стараемся собрать фанатов жанра, людей, которые обладают специфичным образом мышления, жаждущих найти ответы. По причине спортивного интереса получить подсказку не интересно, но можно. Напишите на почту <a href="#" class="link">help@quest.club</a></li>
      </ul>
      <ul class="accordeon">
        <li class="question">Как часто выходят новые сюжеты?</li>
        <li class="answer">С подпиской стандарт как минимум раз в месяц выход нового сюжета мы обещаем.<br/>Бесплатные, а также VIP квесты будут публиковаться приблизительно раз в 3 месяца.</li>
      </ul>
      <ul class="accordeon">
        <li class="question">Я хочу стать соавтором квеста, подсказать идею.</li>
        <li class="answer">Такую возможность получат VIP-клиенты нашего проекта. Мы открыты к предложениям, а лучшие идеи готовы реализовать, указав соавтора. Однако, у нас есть свое видение дальнейшего развития и повлиять на его ход будет не так просто :)</li>
      </ul>
      <ul class="accordeon">
        <li class="question">Можно ли отменить подписку?</li>
        <li class="answer">Конечно, в любое время. Но мы будем скучать ;(</li>
      </ul>
    </div>
    <p class="invite">Не нашли ответа на свой вопрос? Спросите нас сейчас: <a href="mailto:admin@webquest.club" class="link">admin@webquest.club</a></p>
  </section>
</template>
