<template>
  <section class="stories">
    <h3>Последние публикации</h3>
    <div class="list">
      <div class="story story-1">
        <img src="~assets/images/stories/story-1.jpg" alt="">
        <div class="title">Закрытое общество</div>
        <n-link to="/quest-1" class="button visit">Открыть</n-link>
      </div>
      <div class="story story-2 locked">
        <img src="~assets/images/stories/story-2.jpg" alt="">
        <div class="title">Похищение</div>
        <button class="button visit">Открыть</button>
        <n-link to="/subscribe" class="join">Вступить в клуб</n-link>
      </div>
    </div>
  </section>
</template>
