<template>
  <section class="slider">
    <div class="slide slide-1">
      <div v-for="(title, index) in titles" :key="title">
        <transition name="fade">
          <h1 v-show="index == count">{{title}}</h1>
        </transition>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ScreenPhotos',
  data() {
    return {
      titles: ['Веб квесты', 'Уникальный жанр', 'Задачи и головоломки', 'Никаких ограничений', 'Детективные истории', 'Разнообразные сюжеты'],
      count: 0
    }
  },
  methods: {
    animateTitles() {
      setTimeout(() => {
        this.count < this.titles.length - 1 ? this.count++ : this.count = 0
        this.animateTitles()
      }, 3000);
    }
  },
  mounted() {
    this.animateTitles()
  }
}
</script>

<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
