<template>
  <section class="subscribe">
    <h3>О вступлении и стоимости</h3>
    <div class="container">
      <ul class="plans">
        <li class="item free">
          <nuxt-link to="/registration" class="pic">Free</nuxt-link>
          <div class="text">
            <p>Мы даем возможность попробовать бесплатные сюжеты, которые периодически будут появляться (не часто).</p>
            <p>Рекомендуем <n-link to="/registration" class="link">Создать аккаунт</n-link> на нашем сайте бесплатно, чтобы проявить свою активность и поддержать нас.</p>
          </div>
        </li>
        <li class="item standart">
          <nuxt-link to="#" class="pic">Standart</nuxt-link>
          <div class="text">
            <p>Подписка стоимостью всего <mark>$7</mark> в месяц.</p>
            <p>После ее приобретения у вас открывается доступ к аккаунту, где регулярно будут появляться новые сюжеты. А также респект и благодарность за вклад в наше развитие.</p>
          </div>
        </li>
        <li class="item vip">
          <nuxt-link to="#" class="pic">VIP</nuxt-link>
          <div class="text">
            <p>Для наших фанатов. <mark>$12</mark> в месяц.</p>
            <p>Возможность сделать бóльший вклад в развитие проекта и получить специальный VIP статус. Некоторые сюжеты будут выпущены специально для вас, но это не все...</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>
