.button {
  min-width: 120px;
  min-height: 40px;
  display: flex;
  background: $red;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 20px;
  outline: 0;
  letter-spacing: 1.1px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background: darken($red, 10%);
  }

  &.start-play {
    display: inline-flex;
    border-radius: 4px;
    margin: 50px auto;
    padding: 10px 20px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
}
