.client-sidebar{
  position: absolute;
  max-width: $logo-width;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - #{$header-height});
  left: 0;
  top: 0;
  background:#131313;
  padding: 20px 0;

  a {
    color: $white;
    padding: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    opacity: .3;
    transition: all .3s ease;
    user-select: none;

    &:hover {
      padding-left: 25px;
    }

    &.nuxt-link-active {
      opacity: 1;
    }
  }

  + .container {
    width: calc(100% - #{$logo-width});
    max-width: 100%;
    margin-left: $logo-width;
  }
}
