@keyframes shadow {
  0% {
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  max-width: 500px;
  padding: 60px 80px;
  background: $dark;
  animation: shadow 5s infinite;

  @media #{$mobile} {
    max-width: 80%;
    padding: 50px 50px;
  }

  @media #{$small} {
    padding: 50px 30px;
  }
}
