.input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
  min-height: 42px;
  max-height: 42px;
  padding: 12px;
  color: $dark;
  position: relative;
  display: block;
  width: 100%;
  transition: all .3s ease;
  font-size: 14px;

  &[type="email"] {
    text-transform: lowercase;

    &::placeholder {
      text-transform: none;
    }
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 30px;

  &::after {
    content: attr(validation-text);
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;
    color: #cccccccc;
    transform: translateY(-15px);
    opacity: 0;
    transition: all .5s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.ok {
    &::after {
      color: rgb(0, 146, 0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.input.pin {
  text-align: center;
  letter-spacing: 20px;
  font-size: 30px;
}
