.panes {
  display: flex;

  li {
    width: 33.33%;
    background: #363943;
    border-radius: 10px;
    padding: 20px;
    list-style-type: none;
    font-size: 15px;

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }
}
