.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(20,20,20,0.95);
  height: 70px;
  padding-right: 20px;

  @media #{$small} {
    padding: 0;

    .logo,
    nav {
      width: 50%;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: $logo-width;
    padding: 0 40px;
    text-decoration: none;
    background: #f60b0e;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

    @media #{$mobile} {
      font-size: 24px;
      padding: 0 30px;
    }
  }

  nav {
    @media #{$small} {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      display: inline-block;
      padding: 20px;
      text-decoration: none;
      color: #777;
      font-weight: bold;
      user-select: none;
      transition: color .3s ease;

      @media #{$mobile} {
        padding: 20px 10px;
      }

      @media #{$small} {
        padding: 5px 10px;
        font-size: 16px;
        color: #fff;
      }

      &:hover {
        color: $white;
      }

      &.nuxt-link-active {
        color: $white;
      }
    }
  }
}
