html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark;
}

section {
  background-color: #1b1b1b;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;

  @media #{$mobile} {
    font-size: 28px;
    max-width: 90%;
    margin: 0 auto;
  }
}

h2 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;

  @media #{$mobile} {
    font-size: 28px;
    max-width: 90%;
    margin: 0 auto;
  }
}

h3 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;

  @media #{$mobile} {
    font-size: 28px;
    max-width: 90%;
    margin: 0 auto;
  }
}

p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

.link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  margin: 0 3px;
  transition: all .3s ease;

  &.bold {
    font-weight: bold;
  }

  &:hover {
    border-color: transparent;
  }
}

.page {
  min-height: calc(100vh - 70px);
  padding: 50px 0;
  filter: brightness(1);
  position: relative;
}

.errors {
  height: 40px;
  display: block;
  display: flex;
  align-items: center;
}

.error {
  color: $red;
  font-size: 14px;
  display: block;
  margin: 0;
  transition: all .5s ease;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.m-b-20 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}
