$red: #F60B0E;
$text: #fff;
$white: #fff;
$dark: #1B1B1B;

$logo-width: 246px;
$header-height: 70px;

$desktop: '(min-width: 1200px)';
$tablet: '(max-width: 1200px)';
$mobile: '(max-width: 800px)';
$small: '(max-width: 500px)';
