.index {
  margin-top: -70px;
}

.slider {
  width: 100%;
  height: 110vh;
  min-height: 800px;

  @media #{$mobile} {
    min-height: 400px;
    height: 90vh;
    max-height: 600px;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 30vh;
      box-shadow: inset 0px -100px 60px 20px #1b1b1b;
      display: block;
    }

    h1 {
      color: #fff;
      font-size: 100px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      width: 50%;
      font-weight: bold;

      @media #{$tablet} {
        font-size: 80px;
      }

      @media #{$mobile} {
        font-size: 50px;
      }

      @media #{$small} {
        font-size: 35px;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
      }
    }
  }

  .slide-1 {
    background: url('../images/sliders/slide-1.jpg') no-repeat center / cover;
  }
}

.stories {
  min-height: 100vh;
  padding: 100px 50px;

  @media #{$mobile} {
    padding: 80px 20px;

    h3 {
      white-space: nowrap;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    @media #{$mobile} {
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
    }

    @keyframes cards {
      0% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(0, -5px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes cards-mobile {
      0% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(-5px, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    .story {
      width: 380px;
      height: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
      padding: 35px 25px;
      margin: 0 30px;
      position: relative;
      transition: all .3s ease;
      animation: cards 2s infinite;

      @media #{$tablet} {
        width: 320px;
        height: 430px;
      }

      @media #{$mobile} {
        margin-bottom: 30px;
      }

      @media #{$small} {
        width: 260px;
        height: 350px;
        padding: 25px 15px;
        animation: cards-mobile 2s infinite;
      }

      &:nth-of-type(odd) {
        animation-delay: 1s;
      }

      &:hover {
        animation-play-state: paused;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
      }

      * {
        position: relative;
        z-index: 1;
      }

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        filter: blur(3px) brightness(0.8);
      }

      .title {
        font-size: 28px;
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px 3px #00000042;
        margin: 0 auto;
        letter-spacing: 1px;

        @media #{$small} {
          font-size: 22px;
        }
      }

      .button {
        min-width: 120px;
        min-height: 40px;
        display: flex;
        background: #F60B0E;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        border: 0;
        border-radius: 20px;
        outline: 0;
        letter-spacing: 1.1px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          background: darken(#F60B0E, 10%);
        }
      }

      &.locked {
        position: relative;
        cursor: not-allowed;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.5) url('../images/stories/lock.svg') no-repeat center / 100px;

          @media #{$small} {
            background-size: 70px;
          }
        }

        .join {
          position: absolute;
          z-index: 3;
          left: 50%;
          top: calc(50% + 100px);
          transform: translate(-50%, -50%);
          color: #F60B0E;
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          border-bottom: 1px solid #fff;
          white-space: nowrap;
          transition: all .3s ease;

          @media #{$small} {
            font-size: 16px;
            top: calc(50% + 70px);
          }

          &:hover {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}

.about {
  width: 100%;
  min-height: 100%;
  background: #1b1b1b;
  display: block;
  padding-bottom: 100px;

  @media #{$mobile} {
    p {
      font-size: 14px;
    }
  }
}

.subscribe {
  .plans {
    display: flex;
    flex-direction: column;

    .item {
      position: relative;
      display: flex;
      width: 100%;
      min-height: 100px;
      padding: 30px;
      padding-left: 180px;
      margin-bottom: 50px;
      border: 1px solid #fff;

      @media #{$mobile} {
        flex-direction: column;
        padding: 40px 20px 10px 20px;

        p {
          font-size: 14px;
        }
      }

      p {
        line-height: 20px;
      }

      .pic  {
        position: absolute;
        left: -6px;
        top: -6px;
        width: 160px;
        height: calc(100% + 12px);
        background: rgb(230, 230, 230);
        margin-right: 20px;
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        background: #F60B0E;
        color: #fff;
        text-decoration: none;

        @media #{$mobile} {
          width: calc(100% + 10px);
          height: 30px;
          left: -5px;
          right: -5px;
          margin: 0;
          font-size: 24px;

          *::after {
            display: none;
          }
        }

        &::after {
          transition: all .3s ease;
        }

        &:hover {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8) url('../images/icons/shop.svg') no-repeat center / 50px;
          }
        }
      }

      &.free {
        .pic {
          background: #fff;
          color: #F60B0E;
          font-weight: bold;
        }
      }

      &.vip {
        .pic {
          background: darken(#F60B0E, 10%);
          font-weight: bold;
          letter-spacing: 1.2px;
        }
      }

      mark {
        background: none;
        font-size: 24px;
        color: #fff;
      }
    }
  }
}

.faq {
  padding-bottom: 100px;

  .card {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 35px 25px;
    min-height: 400px;

    @media #{$mobile} {
      max-width: 90%;
    }
  }

  .accordeon {
    li {
      list-style: none;
      color: #fff;
    }

    .question {
      padding: 10px;
      position: relative;
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }

    .answer {
      padding: 10px 40px;
      font-size: 12px;
      max-height: 100%;
      line-height: 20px;
      opacity: 1;

      @media #{$small} {
        padding: 10px 25px;
      }
    }
  }

  .invite {
    text-align: center;
    margin: 0 auto;

    @media #{$mobile} {
      font-size: 16px;
      max-width: 90%;
    }
  }
}
