<template>
  <div class="layout">
    <Header />
    <transition name="page" mode="out-in">
      <nuxt />
    </transition>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import axios from 'axios'

export default {
  methods: {
    ...mapActions({checkAuth: 'auth/checkAuth'}),
  },
  created() {
    this.checkAuth()
  },
  mounted() {
    window.scrollTo(0, 0)
  }
}
</script>

<style lang="scss">
.page-enter-active, .page-leave-active {
  transition: filter .5s;
}
.page-enter, .page-leave-active {
  filter: brightness(0.1);
}
</style>
