<template>
  <section class="page dashboard">
    <div class="container">
      <p>Список клиентов:</p>
      <table class="table">
        <thead>
          <tr>
            <td>№</td>
            <td>Name</td>
            <td>Email</td>
            <td>Verified</td>
            <td>Subscribe</td>
            <td>Last Visited</td>
            <td>Account created</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, id) in usersList" :key="id">
            <td>{{id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.verified ? '+' : ''}}</td>
            <td>{{user.subscribe}}</td>
            <td>{{user.lastVisited}}</td>
            <td>{{user.created}}</td>
            <td>
              <a v-if="false" href="#" class="link">Edit</a>
              <a @click.prevent="tryDelete(user._id, user.email)" href="#" class="link">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'profile',
  computed: {
    ...mapGetters({isAdmin: 'admin/isAdmin', usersList: 'admin/usersList'})
  },
  methods: {
    ...mapActions({
      getAllUsers: 'admin/getAllUsers',
      checkIfAdmin: 'admin/checkIfAdmin',
      deleteUser: 'admin/deleteUser'
    }),
    tryDelete(id, email) {
      const agree = prompt('Удалить пользователя?')
      if (!agree) return
      if (agree === '777') {
        this.deleteUser({id: id, email: email}).then(res => {
          if (res.data.ok) {
            alert('Пользователь удален')
            this.getAllUsers()
          } else {
            alert('Неудачно')
          }
        })
      } else {
        alert('Отказано в доступе')
      }
    }
  },
  created() {
    if (!this.isAdmin) {
      this.$router.push('/profile')
    }
    this.getAllUsers()
  }
}
</script>
