<template>
  <section class="page login">
    <h3>Добро пожаловать!</h3>
    <form class="form" @submit.prevent="loginUser">
      <div class="input-wrapper">
        <input v-model="email" type="email" placeholder="Введите Email" class="input">
      </div>
      <div class="input-wrapper">
        <input v-model="password" type="text" placeholder="Введите пароль" class="input">
      </div>
      <div class="errors">
        <p v-if="notFound" class="error">Email не найден.  <nuxt-link class="link" to="/registration">Создать аккаунт</nuxt-link></p>
        <p v-if="errorMsg" class="error">{{ errorMsg }}</p>
      </div>
      <button type="submit" name="button" class="button" :disabled="sending">Войти</button>
    </form>
  </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'login',
  data() {
    return {
      email: '',
      password: '',
      errorMsg: '',
      notFound: false,
      sending: false
    }
  },
  methods: {
    ...mapActions({login: 'auth/login', checkIfAdmin: 'admin/checkIfAdmin'}),
    loginUser() {
      if (!this.validateFields()) return false
      const user = {
        email: this.email,
        password: this.password
      }
      this.login(user).then(res => {
        if (res.status == 200) {
          this.$router.push('/profile')
          this.checkIfAdmin()
        } else if (res.status == 404) {
          this.notFound = true
        } else if (res.status == 401) {
          this.errorMsg = "Неверный пароль"
        }
      })
    },
    validateFields() {
      this.errorMsg = ''
      this.notFound = this.sending = false
      if (!this.email || !this.password) {
        this.errorMsg = 'А поля заполнить? :)'
        return false
      } else if (this.password.length < 8) {
        this.errorMsg = 'Пароль не менее 8 символов ;)'
      } else {
        return true
      }
    }
  },
  computed: {
    ...mapGetters({isAuth: 'auth/isAuth'})
  },
  created() {
    if (this.isAuth) return this.$router.push('/profile')
  }
}
</script>
