<template>
  <section class="page no-padding flex">
    <loader v-if="loader" />
    <client-sidebar />
    <div class="container">
      <quests class="no-padding" />
    </div>
  </section>
</template>

<script>
import auth from '../components/mixins/auth'

export default {
  mixins: [auth]
}
</script>
