<template>
  <section class="page no-padding flex">
    <loader v-if="loader" />
    <client-sidebar />
    <div class="container">
      <h3 class="m-b-20">Добро пожаловать, {{ user.username }}!</h3>
      <div class="alert">Во время карантина проект полностью бесплатный. #stayhome #playquest!</div>
      <ul class="panes">
        <li>Рады видеть тебя здесь! Предупреждаем, что наши квесты повышенной сложности. Нет необходимости спешить, мы планируем выпускать по одной истории в месяц, поэтому время есть, наслаждайся процессом.</li>
        <li>Проект недавно запустился, поэтому находится в постоянной доработке. Просим иметь терпение и наблюдать за нашим беспрерывным улучшением. "Олдам" будет отдельный респект ;)</li>
        <li>По всем вопросам и пожеланиям просьба писать на почту <a href="mailto:admin@webquest.club">admin@webquest.club</a>; Наши поклонники смогут получить подписку бесплатно, на усмотрение администрации</li>
      </ul>
      <n-link to="/play" class="button start-play">Выбрать квест &#8594;</n-link>
    </div>
  </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import auth from '../components/mixins/auth'

export default {
  name: 'profile',
  mixins: [auth],
  computed: {
    ...mapGetters({isAuth: 'auth/isAuth'})
  }
}
</script>
