<template>
  <section class="page registration">
    <h3>Создать аккаунт</h3>
    <form class="form" @submit.prevent="signUp">
      <div class="input-wrapper">
        <input
          v-model="username"
          class="input"
          type="text"
          placeholder="Ваше имя"
        >
      </div>
      <div class="input-wrapper">
        <input
          v-model="email"
          type="email"
          placeholder="Введите Email"
          class="input"
        >
      </div>
      <div
        class="input-wrapper"
        :class="{'ok': password.length >= 8}"
        validation-text="Пароль не менее 8 символов"
      >
        <input
          v-model="password"
          class="input"
          type="text"
          placeholder="Введите пароль"
        >
      </div>
      <div
        class="input-wrapper"
        :class="{'ok': password.length >= 8 && password === password_match}"
        validation-text="Пароли совпадают"
      >
        <input
          v-model="password_match"
          class="input"
          type="text"
          placeholder="Повторите пароль"
        >
      </div>
      <div class="errors">
        <p v-if="alreadyUser" class="error">Email уже зарегистрирован.  <nuxt-link class="link" to="/login">Войти</nuxt-link></p>
        <p v-if="errorMsg" class="error">{{ errorMsg }}</p>
      </div>
      <button type="submit" name="button" class="button" :disabled="sending">Создать аккаунт</button>
    </form>
  </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'registration',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      password_match: '',
      errorMsg: '',
      alreadyUser: false,
      sending: false
    }
  },
  methods: {
    ...mapActions({registration: 'auth/registration'}),
    signUp() {
      if (!this.validateFields()) return false
      this.sending = true
      this.alreadyUser = false
      this.email = this.email.toLowerCase()
      const data = {
        username: this.username,
        email: this.email,
        password: this.password
      }
      this.registration(data).then(res => {
        if (res.data.success) {
          this.$store.commit('auth/setCurrentEmail', this.email)
          this.$router.push('/verify')
        }
        else if (res.data.status == 400) {
          this.alreadyUser = true
        }
        this.sending = false
      })
    },
    validateFields() {
      this.errorMsg = ''
      this.sending = false

      if (!this.username || !this.email || !this.password || !this.password_match) {
        this.errorMsg = 'Точно все поля заполнили?'
        return false
      } else if (this.password.length < 8) {
        this.errorMsg = 'Пароль больше 8 символов, пожалуйста :)'
        return false
      } else if (this.password !== this.password_match) {
        this.errorMsg = 'Вы указали два разных пароля ¯\\_(ツ)_/¯'
        return false
      } else {
        return true
      }
    }
  },
  computed: {
    ...mapGetters({isAuth: 'auth/isAuth'})
  },
  mounted() {
    window.scrollTo(0, 0)
  },
  created() {
    if (this.isAuth) this.$router.push('/profile')
    if (process.client) {
      if (localStorage.getItem('currentEmail') !== null) this.$router.push('/verify')
    }
  }
}
</script>
