<template>
  <section class="page flex no-padding">
    <loader v-if="loader" />
    <client-sidebar />
    <div class="container">
      <div class="alert">Во время карантина проект полностью бесплатный. #stayhome #playquest!</div>
    </div>
  </section>
</template>

<script>
import auth from '../components/mixins/auth'

export default {
  mixins: [auth],
  scrollToTop: true
}
</script>
