<template>
  <section class="page registration">
    <h3>Подтверждение</h3>
    <form class="form">
      <p class="fz-14">Проверьте почту <strong>{{currentEmail}}</strong></p><br/>
      <div class="input-wrapper">
        <input
          @input="watchPin"
          v-model="clientPin"
          class="input pin"
          type="text"
          placeholder="PIN"
          maxlength="4"
        >
      </div>
    </form>
  </section>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'registration',
  data() {
    return {
      generatedPin: null,
      clientPin: null,
      currentEmail: ''
    }
  },
  methods: {
    ...mapActions({verifyEmail: 'auth/verifyEmail', verified: 'auth/verified'}),
    sendEmail() {
      if (this.currentEmail) {
        this.verifyEmail(this.currentEmail)
          .then(res => {
            this.generatedPin = res.data.pin
          })
      }
    },
    watchPin() {
      if (this.clientPin === this.generatedPin) {
        this.verified(this.currentEmail)
        if (process.client) {
          localStorage.removeItem('currentEmail')
        }
        return this.$router.push('/login')
      }
    }
  },
  computed: {
    ...mapGetters({isAuth: 'auth/isAuth'})
  },
  mounted() {
    this.sendEmail()
  },
  created() {
    if (this.isAuth) this.$router.push('/profile')
    if (process.client) {
      if (localStorage.getItem('currentEmail') !== null) {
        this.currentEmail = localStorage.getItem('currentEmail')
      } else {
        this.$router.push('/registration')
      }
    }
  }
}
</script>
